<style>
  ion-tabs .tabs {height: 68px !important;}
</style>
<ion-view hide-nav-bar="true">
  <ion-header-bar class="background-color">
    <button  menu-toggle="left" class="button button-icon text-white boder-white header-btn-left">Menu</button>
    <div class="h1 title">
    <center>
      <img src="img/logo.jpg" class="header-img" ui-sref="nav.home">
    </center>
    </div>
    <button onclick="javascript:history.go(-1)" class="button button-icon text-white boder-white header-btn-right">Back</button>
  </ion-header-bar>
  <ion-content scroll="false">
      <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="COMPLIMENT" icon-on="ion-android-happy" icon-off="ion-android-happy">
          <ion-content scroll="true" style="top: 70px !important;">
            <div class="list padding">
            <form name="compliment" novalidate>
              <h2 class="font-style text-dark text-center fs-18 font-bold">Because good service<br/> makes a difference</h2>
              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">COMPANY :</span>
                <input type="text" ng-model="complimentForm.company_name" ng-change="getCompanyNames(complimentForm.company_name)" name="company" placeholder="e.g. Starbucks, Nordstrom, Sam’s Deli" required>
                
              </label>
              <ion-list ng-show="showCompanyList" style="width: 95%;">
                <ion-item ng-repeat="company in companyList" ng-click="selectCompanyName(company.company_name)"><div>{{company.company_name}}</div></ion-item>
              </ion-list>
              <div ng-if="compliment.company.$invalid && !compliment.company.$pristine" class="error-message padding-right">Invalid COMPANY</div>

              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">WHO/WHAT :</span>
                <input type="text"  ng-model="complimentForm.description" name="what" placeholder="e.g. Susan, manager on duty or associate wearing red hat" required>
              </label>
              <div ng-if="compliment.what.$invalid && !compliment.what.$pristine" class="error-message padding-right">Invalid WHO/WHAT</div>

              <div class="row no-padding border-bottom">
                <div class="col col-100 no-padding">
                  <label class="item item-input item-stacked-label no-border" style="pointer-events:auto;">
                    <span class="input-label text-dark fs-12">WHERE :</span>
                    <input type="text" placeholder="e.g. Boston, near downtown" google-autocomplete-suggestion location="data.location" country-code="" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required style="background-color: #fff;">
                  </label>
                  <button  style="width: 40px;min-height: 30px !important;max-height: 38px !important;float: right;position: absolute;z-index:999;right: 5px;margin-top: -50px !important;pointer-events: none;" class="button button-block menu-content text-white button-icon icon fs-20 ion-ios-paperplane ">
                  </button>
                </div>
              </div>
              <div ng-if="compliment.where.$invalid && !compliment.where.$pristine" class="error-message padding-right">Invalid Where</div>
              <!-- <div > -->
              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">WHY :</span>
                <textarea rows="3" cols="3"  ng-model="complimentForm.why" type="text" name="whyform" placeholder="e.g. Had the best attitude and the biggest smile, made me feel like a VIP" required></textarea>
              </label>

              <div ng-if="compliment.whyform.$invalid && !compliment.whyform.$pristine" class="error-message padding-right">Invalid Why</div>
             
              <a ng-show="whyhide" ng-if="choices.length==1" class="item no-background text-right font-style" ng-click="addNewChoice()" style="color: #00f;padding: 10px; text-decoration: underline;">
                  I want to say more
              </a>
              <!-- </div> -->
              <div ng-hide="whyhide">
              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">MORE DETAIL:</span>
                <textarea rows="3" cols="3"  ng-model="complimentForm.more" type="text" name="whyform" placeholder="Tell us more about your experience"></textarea>
              </label>

              <div ng-if="compliment.whyform.$invalid && !compliment.whyform.$pristine" class="error-message padding-right">Invalid Why</div>
             
              <a ng-if="choices.length==1" class="item no-background text-right font-style" ng-click="addNewChoice()" style="color: #00f;padding: 10px; text-decoration: underline;">
                  Hide
              </a>
              </div>
              <!-- <div id="choicesDisplay">
                {{ choices }}
             </div> -->
              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">This experience made me feel:</span>
                <input type="text"  ng-model="complimentForm.how_does_to_make" name="make" placeholder="delighted, satisfied, appreciated" required>
              </label>
              <div ng-if="compliment.make.$invalid && !compliment.make.$pristine" class="error-message padding-right">Invalid HOW DOES TO MAKE</div>

              <!-- <label class="item item-input item-stacked-label no-border" style="padding-top: 5%;"> -->
                <div class="row no-padding border-bottom" style=" padding-top: 5% !important;">
                  <div class="col col-80 no-padding">
                    <h2 class="text-dark fs-14">TWEET TO COMPANY ? <span style="margin: 0px 7px 7px 7px;" class="icon fs-20 ion-information-circled" ng-click="openPopover($event)"></span></h2>
                  </div>
                  <div class="col col-20 no-padding" ng-click="checkdata()">
                    <ion-checkbox class="no-border" ng-model="filter.check"></ion-checkbox>
                  </div>
                </div>
              <!-- </label> -->

              <!-- <label class="item item-input item-stacked-label no-border" style="padding-top: 5%;"> -->
                <div class="row no-padding border-bottom" style=" padding-top: 5% !important;">
                  <div class="col col-67 no-padding">
                    <h2 class="text-dark fs-12">HAPPINESS / SATISFACTION LEVEL?</h2>
                  </div>
                  <div class="col col-33 no-padding">
                    <!-- <span class="happ-active-c"></span><span style="margin-left: 22px !important" class="happ-active-c"></span><span style="margin-left: 44px !important"  class="happ-active-c"></span><span style="margin-left: 66px !important"  class="happ-active-c"></span><span style="margin-left: 88px !important"  class="happ-active-c"></span> -->
                    <ionic-ratings style="margin: -5px;" ng-model="complimentForm.rating" name="star" ratingsobj='ratingsObject2' index='$index' required></ionic-ratings>
                  </div>
                </div>
                <div ng-if="compliment.star.$invalid && !compliment.star.$pristine" class="error-message padding-right">Invalid HAPPINESS / SATISFACTION LEVEL?</div>
              </form>
              <!-- </label> -->
              <button ng-disabled="compliment.$invalid" ng-click="complimentForm.where=data.location.formatted_address;complimentUser();" class="button button-block menu-content text-white">SEND</button>
              <br /><br /><br />
            </div>
          </ion-content>
        </ion-tab> 

        <ion-tab title="COMPLAIN" icon-on="ion-android-sad" icon-off="ion-android-sad">
         <ion-content scroll="true" style="top: 70px !important;">
            <div class="list padding">
            <form name="complain" novalidate>
              <h2 class="font-style text-red text-center fs-18 font-bold">Make the world better<br/> one complaint at a time</h2>
              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">COMPANY :</span>
                <input type="text" ng-model="complaintForm.company_name" ng-change="getCompanyNames(complaintForm.company_name,'complain')" name="companyC" placeholder="e.g. Starbucks, Nordstrom, Sam’s Deli" required>
              </label>
              <ion-list ng-show="showCompanyList1" style="width: 95%;">
                <ion-item ng-repeat="company in companyList" ng-click="selectCompanyName1(company.company_name)"><div>{{company.company_name}}</div></ion-item>
              </ion-list>
              <div ng-if="complainform.companyC.$invalid && !complainform.companyC.$pristine" class="error-message padding-right">Invalid Company</div>

              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">WHO/WHAT :</span>
                <input type="text"  ng-model="complaintForm.description" name="whatC" placeholder="e.g. Susan, manager on duty or associate wearing red hat" required>
              </label>
              <div ng-if="complainform.whatC.$invalid && !complainform.whatC.$pristine" class="error-message padding-right">Invalid WHO/WHAT</div>
              
              <div class="row no-padding border-bottom">
                <div class="col col-100 no-padding">
                  <label class="item item-input item-stacked-label no-border" style="pointer-events:auto;">
                    <span class="input-label text-dark fs-12">WHERE :</span>
                    <input type="text" placeholder="e.g. Boston, near downtown" google-autocomplete-suggestion location="data.location" country-code="" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required style="background-color: #fff;">
                  </label>
                  <button  style="width: 40px;min-height: 30px !important;max-height: 38px !important;float: right;position: absolute;right: 5px;z-index:999;margin-top: -50px !important;pointer-events: none;" class="button button-block menu-content text-white button-icon icon fs-20 ion-ios-paperplane ">
                  </button>
                </div>
              </div>
              <div ng-if="complainform.whereC.$invalid && !complainform.whereC.$pristine" class="error-message padding-right">Invalid Where</div>

              <label class="item item-input item-stacked-label border-bottom" data-ng-repeat="choice in choices">
                <span class="input-label text-dark fs-12">WHY :</span>
                <textarea rows="3" cols="3"  ng-model="complaintForm.why" name="whyform" type="text" placeholder="e.g. Too pushy and rude"></textarea>
              </label>
              <div ng-if="complainform.whyform.$invalid && !complainform.whyform.$pristine" class="error-message padding-right">Invalid Why</div>

             <a ng-show="whyhide1" ng-if="choices.length==1" class="item no-background text-right font-style" ng-click="addNewChoice1()" style="color: #00f;padding: 10px; text-decoration: underline;">
                  I want to say more
              </a>

             <div ng-hide="whyhide1">
              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">MORE DETAIL:</span>
                <textarea rows="3" cols="3"  ng-model="complaintForm.more" type="text" name="whyform" placeholder="Tell us more about your experience"></textarea>
              </label>

              <div ng-if="compliment.whyform.$invalid && !compliment.whyform.$pristine" class="error-message padding-right">Invalid Why</div>
             
              <a ng-if="choices.length==1" class="item no-background text-right font-style" ng-click="addNewChoice1()" style="color: #00f;padding: 10px; text-decoration: underline;">
                  Hide
              </a>
              </div>

              <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label text-dark fs-12">This experience made me feel:</span>
                <input type="text" ng-model="complaintForm.how_does_to_make" name="make" placeholder="frustrated, unsatisfied, upset" required>
              </label>
              <div ng-if="complainform.make.$invalid && !complainform.make.$pristine" class="error-message padding-right">Invalid HOW DOES TO MAKE</div>
              <!-- <label class="item item-input item-stacked-label no-border" style="padding-top: 5%;"> -->
                <div class="row no-padding border-bottom" style=" padding-top: 5% !important;">
                  <div class="col col-80 no-padding">
                    <h2 class="text-dark fs-14">TWEET TO COMPANY ? <span style="margin: 0px 7px 7px 7px;" class="icon fs-20 ion-information-circled"  ng-click="openPopover($event)"></span></h2>
                  </div>
                  <div class="col col-20 no-padding">
                    <ion-checkbox class="no-border" ng-model="filter.red"></ion-checkbox>
                  </div>
                </div>
              <!-- </label> -->

              <!-- <label class="item item-input item-stacked-label no-border" style="padding-top: 5%;"> -->
                <div class="row no-padding border-bottom" style=" padding-top: 5% !important;">
                  <div class="col col-67 no-padding">
                    <h2 class="text-dark fs-14">SADNESS / ANGER LEVEL?</h2>
                  </div>
                  <div class="col col-33 no-padding">
                    <ionic-ratings style="margin: -5px;" ng-model="complaintForm.rating" name="star1" ratingsobj='ratingsObject1' index='$index'></ionic-ratings>
                    <!-- <span class="sad-active-c"></span><span style="margin-left: 22px !important" class="sad-active-c"></span><span style="margin-left: 44px !important"  class="sad-active-c"></span><span style="margin-left: 66px !important"  class="sad-active-c"></span><span style="margin-left: 88px !important"  class="sad-active-c"></span> -->
                  </div>
                </div>
                <div ng-if="complainform.star.$invalid && !complainform.star.$pristine" class="error-message padding-right">Invalid SADNESS / ANGER LEVEL?</div>
              <!-- </label> -->
              </form>
              <button ng-disabled="complain.$invalid" ng-click="complaintForm.where=data.location.formatted_address;complaintUser()" class="button button-block menu-content text-white">SEND</button>
              <br /><br /><br />
            </div>
         </ion-content>
        </ion-tab>

      </ion-tabs>
  </ion-content>
</ion-view>
<script id="location.html" type="text/ng-template">
    <ion-modal-view>
      <ion-content style="top: 0 !important;" ng-show="placeObj.placeFor=='complaintForm'">
<!--         <ion-google-place placeholder="Search" class="no-padding" ng-model="complaintForm.where"  required name="address" select-on-click location-changed="locationChanged" closemodal="closeModal()"/>  -->
        <input type="text" placeholder="Change address" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="complaintForm.where" readonly required>
        <i class="icon ion ion-close-round" style="margin: 16px 5px;font-size: 27px;" ng-click="complaintForm.where='';closeModal()"></i>
      </ion-content>
      <ion-content style="top: 0 !important;" ng-show="placeObj.placeFor=='complimentForm'">
        <!-- <ion-google-place placeholder="Search" class="no-padding" ng-model="complimentForm.where"  required name="address" select-on-click location-changed="locationChanged" closemodal="closeModal()"/> --> 
        <input type="text" placeholder="Change address" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="complimentForm.where" readonly required>
        <i class="icon ion ion-close-round" style="margin: 16px 5px;font-size: 27px;" ng-click="complimentForm.where='';closeModal()"></i>
      </ion-content>
    </ion-modal-view>
  </script>