<ion-view>
  <ion-header-bar class="background-color">
    <button onclick="javascript:history.go(-1)" class="button button-icon text-white boder-white header-btn-left">Back</button>
    <div class="h1 title">
    <center>
      <img src="img/logo.jpg" class="header-img">
    </center>
    </div>
    <button ui-sref="signup" class="button button-icon text-white boder-white header-btn-right">Join</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list" style="padding: 20% 0px;">
      <form name="loginData" novalidate>
        <label class="item item-input item-stacked-label border-bottom">
          <span class="input-label text-dark fs-12">Email</span>
          <input type="email" ng-model="loginform.email" name="email" required><!-- placeholder="John" -->
        </label>
        <div ng-show="loginData.email.$invalid && !loginData.email.$pristine" class="error-message padding-right">Invalid Email</div>

        <label class="item item-input item-stacked-label border-bottom">
          <span class="input-label text-dark fs-12">PASSWORD</span>
          <input type="password" ng-model="loginform.password" name="password" ng-minlength="6" ><!-- placeholder="*******" -->
        </label>
        <div ng-show="loginData.password.$invalid && !loginData.password.$pristine" class="error-message padding-right">Invalid Email</div>

      </form>
      <a ui-sref="forgetpassword" class="item no-background text-right font-style" style="color: #00f;padding: 10px; text-decoration: underline;">
          Forget password ?
      </a>
    </div>
    <button ng-disabled="loginData.$invalid" ng-click="loginUser()" class="button button-block menu-content text-white">Sign In</button>

    <button class="button button-block button-clear text-gray font-bold font-style">OR SIGN IN WITH</button>

    <div class="row no-padding" style="margin-top: -14px !important;">
      <div class="col col-50">
        <button ng-click="Facebook()" class="button button-block button-icon text-white ion-social-facebook fs-30" style="background: #3b5998;"></button>
      </div>
      <div class="col col-50">
        <button ng-click="Twitterlogin()" class="button button-block button-icon text-white ion-social-twitter fs-30" style="background: #50abf1;"></button>
      </div>
    </div>
  </ion-content>
</ion-view>
