<ion-view>
  <ion-header-bar class="background-color">
    <button onclick="javascript:history.go(-1)" class="button button-icon text-white boder-white header-btn-left" >Back</button>
    <div class="h1 title text-white text-center">PASSWORD</div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list" style="padding:30% 0;">
      <label class="item item-input item-stacked-label border-bottom">
        <span class="input-label text-dark fs-12">CURRENT PASSWORD</span>
        <input type="password" ng-model="resetPasswordForm.reset_password_token" placeholder="********">
      </label>
      <label class="item item-input item-stacked-label border-bottom">
        <span class="input-label text-dark fs-12">NEW PASSWORD</span>
        <input type="password" ng-model="resetPasswordForm.password" ng-minlength="6" placeholder="********">
      </label>
      <label class="item item-input item-stacked-label border-bottom">
        <span class="input-label text-dark fs-12">CONFIRM PASSWORD</span>
        <input type="password" ng-model="resetPasswordForm.password_confirmation" ng-minlength="6" placeholder="********">
      </label>
    </div>
    <button ng-click="resetPassword()" class="button button-block menu-content text-white">UPDATE</button>
  </ion-content>
</ion-view>
